 body {
    padding: 10px;
}

/* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 30%;
    padding: 10px;
  
  }
  .column1 {
    float: left;
    width: 70%;
    padding: 20px;
  }
  
  /* Clearfix (clear floats) */
  /* .row::after {
    content: "";
    clear: both;
    display: table;
  } */
  
  .row {
    display: flex;
  }
  
  /* .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  } */
  
  /* .centered img {
    width: 150px;
    border-radius: 50%;
  } 

  body {
    font-family: Arial;
    color: white;
  }
  
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    background-color: #111;
  }
  
  .right {
    right: 0;
    background-color: red;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .centered img {
    width: 150px;
    border-radius: 50%;
  } */