{% extends "auctions/layout.html" %}

{% block body %}

{% for auction in auctions %}
<div class="container">
    <div class="p-3 mb-2 bg-light  text-dark">
    
    <h3>   {{auction.title}} </h3>
    <img src ={{auction.image_url}} style="width:200px"  >
    <p> </p>
    <h4>   {{item.starting_bid}}</h4>
    <p>  Created by  :  {{auction.created_by}}</p>
    <p>  Created on  :  {{auction.created_on}}</p>
    <p>  Category    :  {{auction.category}}  </p>
    <p>  Description :  {{auction.description}}</p>
</div> 
</div> 
{% empty %}
    <li>No bid.</li>
{% endfor %} 
{% endblock %}

